<a href="https://colab.research.google.com/github/Xerconia/Transitlytics/blob/main/hisa_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
hh = pd.read_csv("dataset/hhv2pub.csv")
ldt = pd.read_csv("dataset/ldtv2pub.csv")
per = pd.read_csv("dataset/perv2pub.csv")
trip = pd.read_csv("dataset/tripv2pub.csv")
veh = pd.read_csv("dataset/vehv2pub.csv")

In [11]:
print(hh)

         HOUSEID       WTHHFIN     WTHHFIN5D     WTHHFIN2D  NUMADLT  HOMEOWN  \
0     9000013002   4621.758002      0.000000  13946.191168        2        1
1     9000013016   2982.998407   3878.814279      0.000000        2        3
2     9000013026   9979.573402  14700.796695      0.000000        1        3
3     9000013039  10355.890735  13150.678996      0.000000        2        3
4     9000013041   4926.862529   7061.357485      0.000000        1        1
...          ...           ...           ...           ...      ...      ...
7888  9000218013   8792.888034  11731.186218      0.000000        2        1
7889  9000218021   2508.248447      0.000000  16373.594134        1        2
7890  9000218034  12559.631900  17007.945486      0.000000        2        2
7891  9000218036  76132.849334  94596.352132      0.000000        1        3
7892  9000218040   9052.679669  11033.704405      0.000000        1        2

      HOMETYPE  RAIL  CENSUS_D  CENSUS_R  ...  URBAN  URBANSIZE  URBRUR  \
0            1     1         1         1  ...      1          4       1
1            3     2         1         1  ...      1          2       1
2            3     1         1         1  ...      1          4       1
3            3     1         1         1  ...      1          4       1
4            2     2         1         1  ...      1          3       1
...        ...   ...       ...       ...  ...    ...        ...     ...
7888         1     2         6         3  ...      1          1       1
7889         1     2         6         3  ...      4          6       2
7890         1     2         6         3  ...      4          6       2
7891         1     2         6         3  ...      4          6       2
7892         1     2         6         3  ...      4          6       2

      PPT517  YOUNGCHILD  RESP_CNT  URBRUR_2010  TDAYDATE  WRKCOUNT  STRATUMID
0          2           0         4            1    202202         1       1021
1          0           0         2            1    202202         2       1021
2          0           0         1            1    202202         1       1021
3          2           0         4            1    202201         1       1021
4          0           0         1            1    202201         1       1021
...      ...         ...       ...          ...       ...       ...        ...
7888       0           0         2            1    202301         0       1031
7889       0           0         1            2    202212         0       1032
7890       0           0         2            2    202212         0       1032
7891       0           0         1            2    202301         0       1032
7892       0           0         1            2    202212         1       1032

[7893 rows x 35 columns]

In [12]:
print(ldt)

          HOUSEID  PERSONID  LONGDIST  MAINMODE  INT_FLAG  LD_NUMONTRP  \
0      9000013002         1         1         1         1            2
1      9000013002         2         1         3         1            2
2      9000013002         3         0         3         1            5
3      9000013002         4         0         3         1            5
4      9000013016         1         0         1         1            2
...           ...       ...       ...       ...       ...          ...
16992  9000218021         1         0        14         1            1
16993  9000218034         1         1         3         1            2
16994  9000218034         2         1         3         1            2
16995  9000218036         1         0        -1        -1           -1
16996  9000218040         1         0         1         1            2

       ONTP_P1  ONTP_P2  ONTP_P3  ONTP_P4  ...    WTPERFIN2D  R_AGE  R_SEX  \
0            1        1        2        2  ...  13363.809355     39      2
1            1        1        2        2  ...  19360.094919     42      1
2            1        1        1        1  ...   7285.044994      8     -7
3            1        1        1        1  ...  27109.336829      5     -7
4            1        1       -9       -9  ...      0.000000     32      2
...        ...      ...      ...      ...  ...           ...    ...    ...
16992        1       -9       -9       -9  ...   8249.957449     74      2
16993        1        1       -9       -9  ...      0.000000     60      2
16994        1        1       -9       -9  ...      0.000000     62      1
16995       -1       -1       -1       -1  ...      0.000000     42      2
16996        1       -9       -9       -9  ...      0.000000     58      2

       WORKER  DRIVER  R_RACE  R_HISP  PROXY  EDUC  R_SEX_IMP
0           2       1       1       2      1     7          2
1           1       1       1       2      2     7          1
2          -1      -1       1       2      2    -1          1
3          -1      -1       1       2      2    -1          1
4           1       1       1       2      1     6          2
...       ...     ...     ...     ...    ...   ...        ...
16992       2       1       1       2      1     6          2
16993       2       1       1       2      1     2          2
16994       2       1       1       2      1     1          1
16995       2       2       1       2      1     1          2
16996       1       1       1       2      1     4          2

[16997 rows x 66 columns]

In [13]:
print(per)

          HOUSEID  PERSONID      WTPERFIN    WTPERFIN5D    WTPERFIN2D  R_AGE  \
0      9000013002         1   3938.688806      0.000000  13363.809355     39
1      9000013002         2   5409.514573      0.000000  19360.094919     42
2      9000013002         3   3013.582163      0.000000   7285.044994      8
3      9000013002         4   6214.108740      0.000000  27109.336829      5
4      9000013016         1   3183.420810   4177.234452      0.000000     32
...           ...       ...           ...           ...           ...    ...
16992  9000218021         1   1183.690130      0.000000   8249.957449     74
16993  9000218034         1   7793.315388  10009.558598      0.000000     60
16994  9000218034         2   7775.819529   9681.166429      0.000000     62
16995  9000218036         1  33531.177084  38232.679184      0.000000     42
16996  9000218040         1  11455.059845  12936.571349      0.000000     58

       R_SEX  R_RELAT  WORKER  DRIVER  ...  MSACAT  MSASIZE  TRAVDAY  URBAN  \
0          2        7       2       1  ...       1        5        1      1
1          1        1       1       1  ...       1        5        1      1
2         -7        2      -1      -1  ...       1        5        1      1
3         -7        2      -1      -1  ...       1        5        1      1
4          2        7       1       1  ...       3        3        4      1
...      ...      ...     ...     ...  ...     ...      ...      ...    ...
16992      2        7       2       1  ...       3        1        1      4
16993      2        7       2       1  ...       4        6        5      4
16994      1        1       2       1  ...       4        6        5      4
16995      2        7       2       2  ...       4        6        4      4
16996      2        7       1       1  ...       4        6        5      4

       URBANSIZE  URBRUR  TDAYDATE  WRKCOUNT  STRATUMID  HHFAMINC_IMP
0              4       1    202202         1       1021            11
1              4       1    202202         1       1021            11
2              4       1    202202         1       1021            11
3              4       1    202202         1       1021            11
4              2       1    202202         2       1021             7
...          ...     ...       ...       ...        ...           ...
16992          6       2    202212         0       1032             4
16993          6       2    202212         0       1032             4
16994          6       2    202212         0       1032             4
16995          6       2    202301         0       1032             2
16996          6       2    202212         1       1032             6

[16997 rows x 129 columns]

In [14]:
print(trip)

          HOUSEID  PERSONID  TRIPID  SEQ_TRIPID     VEHCASEID  FRSTHM  PARK  \
0      9000013002         1       1           1  900001300201       1     2
1      9000013002         1       2           2  900001300201       1     2
2      9000013002         2       1           1  900001300202       1    -1
3      9000013002         2       2           2  900001300202       1    -1
4      9000013002         2       3           3  900001300202       1    -1
...           ...       ...     ...         ...           ...     ...   ...
31069  9000218013         1       2           2  900021801301       1     2
31070  9000218013         1       3           3  900021801301       1     2
31071  9000218040         1       1           1  900021804001       1     2
31072  9000218040         1       2           2  900021804001       1     2
31073  9000218040         1       3           3            -1       1     2

       HHMEMDRV  TDWKND  TRAVDAY  ...  WORKER  DRIVER  R_RACE  R_HISP  PROXY  \
0             1       1        1  ...       2       1       1       2      1
1             1       1        1  ...       2       1       1       2      1
2             1       1        1  ...       1       1       1       2      2
3             1       1        1  ...       1       1       1       2      2
4             1       1        1  ...       1       1       1       2      2
...         ...     ...      ...  ...     ...     ...     ...     ...    ...
31069         1       2        5  ...       2       1       1       2      1
31070         1       2        5  ...       2       1       1       2      1
31071         1       2        5  ...       1       1       1       2      1
31072         1       2        5  ...       1       1       1       2      1
31073        -1       2        5  ...       1       1       1       2      1

       EDUC  PRMACT  R_SEX_IMP  VEHTYPE  HHFAMINC_IMP
0         7       3          2        3            11
1         7       3          2        3            11
2         7      -1          1        3            11
3         7      -1          1        3            11
4         7      -1          1        3            11
...     ...     ...        ...      ...           ...
31069     7       5          2        3             3
31070     7       5          2        3             3
31071     4      -1          2        4             6
31072     4      -1          2        4             6
31073     4      -1          2       -1             6

[31074 rows x 85 columns]

In [15]:
print(veh)

          HOUSEID  VEHID  VEHYEAR  MAKE  HHVEHCNT  VEHTYPE  VEHFUEL  \
0      9000013002      1     2015    48         2        3        1
1      9000013002      2     2019    48         2        3        1
2      9000013016      1     2011    49         1        1        1
3      9000013039      1     2015    35         1        1        1
4      9000013041      1     2014    34         1        1        1
...           ...    ...      ...   ...       ...      ...      ...
14679  9000218013      1     2018    30         1        3        1
14680  9000218021      1     2016    12         1        3        1
14681  9000218034      1     2018    37         2        3        1
14682  9000218034      2     2003    49         2        4        1
14683  9000218040      1     2020     7         1        4        1

       VEHCOMMERCIAL  VEHCOM_RS  VEHCOM_DEL  ...  URBAN  URBANSIZE  URBRUR  \
0                  2         -1          -1  ...      1          4       1
1                  2         -1          -1  ...      1          4       1
2                  2         -1          -1  ...      1          2       1
3                  2         -1          -1  ...      1          4       1
4                  2         -1          -1  ...      1          3       1
...              ...        ...         ...  ...    ...        ...     ...
14679              2         -1          -1  ...      1          1       1
14680              1          2           2  ...      4          6       2
14681              2         -1          -1  ...      4          6       2
14682              2         -1          -1  ...      4          6       2
14683              2         -1          -1  ...      4          6       2

       TDAYDATE  WRKCOUNT  STRATUMID       WTHHFIN     WTHHFIN5D  \
0        202202         1       1021   4621.758002      0.000000
1        202202         1       1021   4621.758002      0.000000
2        202202         2       1021   2982.998407   3878.814279
3        202201         1       1021  10355.890735  13150.678996
4        202201         1       1021   4926.862529   7061.357485
...         ...       ...        ...           ...           ...
14679    202301         0       1031   8792.888034  11731.186218
14680    202212         0       1032   2508.248447      0.000000
14681    202212         0       1032  12559.631900  17007.945486
14682    202212         0       1032  12559.631900  17007.945486
14683    202212         1       1032   9052.679669  11033.704405

          WTHHFIN2D  HHFAMINC_IMP
0      13946.191168            11
1      13946.191168            11
2          0.000000             7
3          0.000000             7
4          0.000000            11
...             ...           ...
14679      0.000000             3
14680  16373.594134             4
14681      0.000000             4
14682      0.000000             4
14683      0.000000             6

[14684 rows x 47 columns]